@import "tailwindcss";

/* =========================
   THEME RWANDAFITNESS
========================= */

@theme inline {
  --color-primary: #078db2;
  --color-primary-dark: #067795;
  --color-accent: #f19f4d;

  --color-background: #f8fafc;
  --color-foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* =========================
   BASE
========================= */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}