@import "tailwindcss";

/* =========================
   THEME RWANDAFITNESS
========================= */
@theme inline {
  --color-primary: #00b7c8;   /* turquoise */
  --color-primary-dark: #0097a7;
  --color-accent: #F19F4D;    /* orange */

  --color-background: #f8fafc;
  --color-foreground: #171717;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* =========================
   BASE
========================= */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}